[Desktop Entry]
Version=1.0
Type=Application
Name=WRS2018
Comment=
Exec=/usr/local/bin/launch_wrs.sh
Icon=application-x-theme
Path=/home/yoods
Terminal=true
StartupNotify=false
