<launch>
  <rosparam command="load" file="$(find rovi)/wrs2018/wrs2018_param.yaml" />
  <node pkg="rovi" type="grid_node" name="grid_node" args="/rovi/left/remap/Kn" output="screen" />
  <node pkg="visp_hand2eye_calibration" type="visp_hand2eye_calibration_calibrator" name="calibrator" />
  <node ns="/rcalib" pkg="image_view" type="image_view" name="image_view" args="image:=/gridboard/image_out" />
  <include file="$(find rovi)/r_coord_publisher/r_coord_publisher.launch" />
  <node pkg="rovi" type="rcalib_solver_subtf.py" name="solver" output="screen" />
  <node pkg="rovi" type="rcalib_socket_nopubtf.js" name="socket" />
  <node pkg="rqt_gui" type="rqt_gui" name="rqt" args="--perspective-file $(find rovi)/wrs2018/wrs2018_rcalib.perspective"/>
</launch>
