[Desktop Entry]
Version=1.0
Type=Application
Name=WRS-Solver
Comment=
Exec=/usr/local/bin/launch_wrs_solver.sh
Icon=application-x-theme
Path=/home/yoods
Terminal=true
StartupNotify=false
