[Desktop Entry]
Version=1.0
Type=Application
Name=RoVI
Comment=
Exec=/usr/local/bin/launch_rovi.sh
Icon=application-x-theme
Path=/home/yoods
Terminal=true
StartupNotify=false
