<launch>

  <node ns="/rovi" name="setgev" pkg="rovi" type="setgev.sh" />

  <rosparam command="load" ns="/rovi" file="$(find rovi)/yaml/ycam3vga.yaml" />

  <node ns="/rovi/left" name="remap_node" pkg="rovi" type="remap_node" />
  <node ns="/rovi/right" name="remap_node" pkg="rovi" type="remap_node" />
  <node ns="/rovi" name="sgbm_node" pkg="rovi" type="sgbm_node" />
  <node ns="/rovi" name="genpc_node" pkg="rovi" type="genpc_node" />
  <node ns="/rovi" name="ycam_ctrl" pkg="rovi" type="ycam_ctrl.js" args="ycam3" />

</launch>


