<launch>

  <env name="ROVI_PATH" value="$(find rovi)" />
  <env name="STGENTL_GIGE_HEARTBEAT" value="5000" />

  <rosparam command="load" ns="/rovi" file="$(find rovi)/yaml/rovi_param.yaml" />

  <node ns="/rovi/cam_l" name="remap_node" pkg="rovi" type="remap_node" />
  <node ns="/rovi/cam_r" name="remap_node" pkg="rovi" type="remap_node" />
  <node ns="/rovi" name="genpc_node" pkg="rovi" type="genpc_node" />
  <node ns="/rovi" name="pshift_genpc" pkg="rovi" type="pshift_genpc.js" args="ycam1s" />

</launch>


