<launch>

  <rosparam command="load" ns="/rovi" file="$(find rovi)/yaml/ycam3vga.yaml" />
  <node name="gvparam" pkg="rovi" type="gvloadVGA.js" />
  <node ns="/rovi/left" name="remap_node" pkg="rovi" type="remap_node" />
  <node ns="/rovi/right" name="remap_node" pkg="rovi" type="remap_node" />
  <node ns="/rovi" name="genpc_node" pkg="rovi" type="genpc_node" />
  <node ns="/rovi" name="ycam_ctrl" pkg="rovi" type="ycamctl.js" args="ycam3s" output="screen" />

</launch>


