<launch>
  <rosparam command="load" file="hist.yaml" />
  <node ns="v1" pkg="image_view" type="image_view" name="image_view" args="image:=/rovi/left/hist/image" />
  <node ns="v2" pkg="image_view" type="image_view" name="image_view" args="image:=/rovi/left/hist/plot" />
  <node ns="v3" pkg="image_view" type="image_view" name="image_view" args="image:=/rovi/right/hist/image" />
  <node ns="v4" pkg="image_view" type="image_view" name="image_view" args="image:=/rovi/right/hist/plot" />
  <node ns="/rovi/left" pkg="rovi" type="hist.py" name="hist" />
  <node ns="/rovi/right" pkg="rovi" type="hist.py" name="hist" />
  <node pkg="rovi" type="paraman.js" name="param_inf" args="/hist /rovi/left/hist/param /rovi/right/hist/param" />
</launch>
